<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header :: ylHeader"></div>
    <meta charset="UTF-8">
    <title> Home Page</title>
    <link th:href="@{/static.css/main.css}" rel="stylesheet" />
</head>
<body>

<h1> Landing page! We have the following endpoints: </h1>

<p> /itemApi/allItems </p>
<p> /userApi/allUsers </p>
<p> /userApi/findByName </p>
<p> /userListApi/allUserList </p>
<p> /wishListApi/allWishList </p>
<p> /login</p>
<p> /signUp</p>

</body>
</html>