<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header1 :: ylHeader1"></div>
    <meta charset="UTF-8">
    <title>List Page</title>
    <!--    I might need to remove the slash in front of the word static -->
    <link th:href="@{/static/css/main.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" rel="stylesheet" />
</head>
<body>
<ul>
    <form>
        <h2>Lists</h2>
    <th:block th:each="list : ${lists}">
        <p>
        <li th:utext="${'Name: ' + list.listName + '  Description:  ' + list.listDescription}">..</li>
<!--        This will need to be updated once users are kept throughout the session. -->
<!--        <a  th:="@{/wishListApi/deleteWishList?(id=${list.listId})}"> Delete </a>-->
        <a  th:href="@{/editList?(id=${list.listId})}"> Update </a>
        </p>
    </th:block>
    </form>
</ul>


</body>
</html>
