<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header2 :: ylHeader2"></div>
    <meta charset="UTF-8">
    <title> Login Page</title>
    <link th:href="@{/static/css/main.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" rel="stylesheet" />
</head>
<body>

<h1> Edit Item</h1>
<table>
    <tr th:each="item : ${user}">
        <form action="/itemApi/updateItem" method="post">
            <p>
            Change Username:
            <td th:text="${username}"></td>
            <input type="text" name="newUsername" placeholder="username" th:field="*{username}"></p>
            <p>
            <p>
                Change name:
            <td th:text="${name}"></td>
            <input type="text" name="newName" placeholder="name" th:field="*{name}"></p>
            <p>
            Change Password:
            <td th:text="${password}"></td>
            <input type="text" name="newName" placeholder="${password}" th:field="*{password}"></p>

            <input type="submit" id="itemEditSubmitButon" value="Submit"> <input type="reset" value="Reset" />
        </form>
    </tr>
</table>
</body>
</html>