<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header2 :: ylHeader2"></div>
    <meta charset="UTF-8">
    <title> Login Page</title>
    <link th:href="@{/static/css/main.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" rel="stylesheet" />
</head>
<body>
<h1> Edit Item</h1>
<table>
    <tr th:each="item : ${item}">
    <form action="/itemApi/updateItem" method="post">
        <p>
        Item name:
        <td th:text="${itemName}"></td>
        <input type="text" name="newName" placeholder="name" th:field="*{itemName}"></p>
        <p>
        Item description:
        <td th:text="${description}"></td>
        <input type="text" name="newName" placeholder="description" th:field="*{description}"></p>
        <p>
        Item Quantity:
        <td th:text="${quantity}"></td>
        <input type="text" name="newName" placeholder="quantity" th:field="*{quantity}"></p>
        <input type="submit" id="itemEditSubmitButon" value="Submit"> <input type="reset" value="Reset" />
    </form>
    </tr>
</table>
</body>
</html>