<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header1 :: ylHeader1"></div>
    <meta charset="UTF-8">
    <title> Login Page</title>
    <link th:href="@{/static/css/main.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" rel="stylesheet" />
</head>
<body>

<h1> Edit Profile</h1>
        <form th:action="@{/userApi/UpdateUser}" th:object="${user}" method="GET">
            <p>
                ID:
            <td th:text="${user.userId}"></td>
            <input type="text" id="id" th:field="${user.userId}" th:readonly ></p>
            <p>
            <p>
            Change Username:
            <td th:text="${user.username}"></td>
            <input type="text" id="newUsername" placeholder="username" th:field="*{username}"></p>
            <p>
<!--            <p>-->
<!--                Change name:-->
<!--            <td th:text="${user.name}"></td>-->
<!--            <input type="text" id="newName" placeholder="name" th:field="*{name}"></p>-->
<!--            <p>-->
            Change Password:
            <td th:text="${user.password}"></td>
            <input type="text" id="newPassword" placeholder="password" th:field="*{password}"></p>

<!--            <a  th:href="@{/itemApi/updateItem?(id=${user.userId},username=${newUsername},password=${newPassword})}"> Update </a>-->
            <input type="submit" value="Submit" /><input type="reset" value="Reset" />
        </form>
</body>
</html>