<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header1 :: ylHeader1"></div>
    <meta charset="UTF-8">
    <title> Login Page</title>
    <link th:href="@{/static/css/main.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" rel="stylesheet" />
</head>
<body>
<h1> Edit Item</h1>
<form th:action="@{/itemApi/updateItem}" th:object="${item}" method="get"><p>
    Id:
    <td th:text="${item.itemId}"></td>
    <input type="text" id="itemId" placeholder="username" th:field="${item.itemId}"></p>
    <p>
    <p>
        Change list:
    <td th:text="${item.listId}"></td>
    <input type="text" id="listId" placeholder="listId" th:field="*{listId}"></p>
    <p>
    <p>
        Change Name:
    <td th:text="${item.itemName}"></td>
    <input type="text" id="itemName" th:field="*{itemName}"></p>
    <p>
    <p>
        Change Description:
    <td th:text="${item.itemDescription}"></td>
    <input type="text" id="itemDescription" th:field="*{itemDescription}"></p>
    <p>
        Change Category:
    <td th:text="${item.itemCategory}"></td>
    <input type="text" id="itemCategory" th:field="*{itemCategory}"></p>
    <p>
        Change Price:
    <td th:text="${item.itemPrice}"></td>
    <input type="text" id="Price" th:field="*{itemPrice}"></p>
    <p>
        Change Quantity:
    <td th:text="${item.itemQuantity}"></td>
    <input type="text" id="Quantity" th:field="*{itemQuantity}"></p>
    <p>
        Change Image (URL):
    <td th:text="${item.itemImage}"></td>
    <input type="text" id="itemImage" th:field="*{itemImage}"></p>

    <input type="submit" value="Submit" /><input type="reset" value="Reset" />
</form>
</body>
</html>