<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <div th:replace="fragments/header :: ylHeader"></div>
        <meta charset="UTF-8">
        <title> Home Page</title>

    <!--    I might need to remove the slash in front of the word static-->
        <link th:href="@{/static.css/main.css}" rel="stylesheet" />
    </head>

    <body>

        <h1> Landing page! We have the following endpoints: </h1>

<!--                This will display a button which will redirect users to the signup page-->
        <a href="/signUp">
            <button>Get Started</button>
        </a>
<!--        <br>-->
<!--        <p>-->
<!--        shhhhh, this is only for admins... or me since I'm testing this-->
<!--        <a href="/allItems">itemlist</a>-->
<!--        </p>-->
    </body>
</html>