<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
</head>
<body>
/*A page listing all the things the user wants
Links, Descriptions, and pictures
Note: DO NOT store the picture in the database (that is why we have CDNs) store a URL in the DB.
Host the image on imgur (or something similar), or just hotlink it… (we would NOT hot link a resource in a real environment. That is how you get sued)
Unsplash is great source of royalty free images
*/

//will display the user list
</body>
</html>