<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header1 :: ylHeader1"></div>
    <meta charset="UTF-8">
    <title> Login Page</title>
    <link th:href="@{/static/css/main.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" rel="stylesheet" />
</head>
    <body>
        <div class="container-fluid text-center">
            <br>

            <!--    Here, we will add a user to our database-->
            <form  action="#" th:action="@{/userApi/addUser}" th:object="${user}" method="post" style="max-width: 350px; margin: 0 auto;">

                <div class="border border-primary p-5 rounded">
                    <h4> Create an Account </h4>

                    <p><input type="name" name="name" class="form-control" placeholder="Name" /></p>
                    <p><input type="username" name="username" class="form-control" placeholder="Username" /></p>
                    <p><input type="password" name="password" class="form-control" placeholder="Password" /></p>
                    <p><input type="submit" value="Signup" class="btn btn-primary" /></p>

                </div>
                <p> Already have an account? <a href="/login"> Login </a> </p>

            </form>
        </div>
    </body>
</html>